# Проверочная работа №0

Эта проверочная работа не влияет отрицательно на оценку. Мы проводим её, чтобы понять, какие темы вы знаете хорошо, а какие — не очень.

Для мотивации тем, кто решит *достаточно много* задач, добавим баллы к аудиторной оценке в конце семестра. Но что такое *достаточно много*, мы поймём по результатам.

Можно пользоваться интернетом, но нельзя переписываться в чатах или общаться с соседями. Если вы нашли решение или его малую часть в интернете, добавьте, пожалуйста, ссылку на соответствующую страницу.

Решения отправляйте на **hse.minor.dm@gmail.com** с темой **«[ИАД-номер\_группы] Test0 Фамилия Имя»**. Если вы вдруг захотели дорешать проверочную работу после семинара — отправляйте решение в таком же формате.

### Python

**№1.1** Дана строка. Создать строку, в которой сначала расположены по порядку все символы на чётных, а затем — на нечётных позициях исходной строки. Циклами пользоваться нельзя.

In [16]:
a = 'abcdef' # Result is 'acebdf'

# Code here

**№1.2** Дано два списка. Создать список из элементов, которые встречаются ровно в одном списке, в произвольном порядке. (Считать, что в списке могут быть только числа и строки.)

In [17]:
a = [1, '1', 123, 'abc', True, False]
b = ['1', 2, True, 0, 42, 35, 'abc']
# Result is [False, 1, 2, 35, 42, 'abc', '1', 123]

# Code here

**№1.3** Дана строка. Посчитайте количество слов, букв и знаков препинания в ней.

In [18]:
s = 'A cake is a lie. Miss me? Never gonna give you up, never gonna let you down.'

# Code here

### NumPy

**При решении задач этого раздела нельзя пользоваться циклами!**

In [19]:
import numpy as np

**№2.1** Дана матрица. Определить, одинакова ли сумма во всех его строках и столбцах.

In [20]:
A = np.array([[4, 9, 2], [3, 5, 7], [8, 1, 6]])

# Code here

**№2.2** Дан массив произвольной размерности из целых чисел. Заменить в нём минимальный элемент на максимальный. Если их несколько, заменить все.

In [21]:
A = np.random.randint(-100, 100, (10, 10))

# Code here

**№2.3** Даны два массива из нулей и единиц одинакового размера. Найти долю совпадающих элементов массивов.

In [22]:
a = np.random.randint(0, 2, (10))
b = np.random.randint(0, 2, (10))

# Code here

**№2.4** Даны двумерный массив A размера n×n и два одномерных целочисленных массива длины n — i и j. Создать одномерный массив из элементов 

A[i[0], j[0]], A[i[1], j[1]], …, A[i[n], j[n]].

In [23]:
n = 10
A = np.random.random((n, n))
i = np.random.randint(0, n, (n))
j = np.random.randint(0, n, (n))

# Code here

**№2.5** Дан одномерный массив. Случайным образом разбить его элементы на два массива, длины которых примерно относятся как 3 к 7.

In [24]:
X = np.arange(100)

# Code here

**№2.6** Дан одномерный массив. Применить к нему линейное преобразование, после которого максимум будет равен единице, а среднее арифметическое — нулю.

In [26]:
X = np.random.randint(-100, 100, (10)).astype(float)

# Code here

**№2.7** Найти в целочисленном массиве максимальный элемент среди чётных чисел.

In [28]:
X = np.random.randint(-100, 100, (10, 10))

# Code here

**№2.8** Построить матрицу A размера 10 × 10 такую, что A[i, j] = i + j + 1.

*Подсказка: не знаете решения — изучите broadcasting в numpy.*

### Pandas

In [1]:
import pandas as pd

Скачайте таблицу с данными о некоторых пассажирах «Титаника» по [ссылке](https://dl.dropboxusercontent.com/u/79652444/minor/titanic.csv).

**№3.1** Откройте файл и выведите информацию о пяти первых пассажирах.

**№3.2** Посчитайте наименьший, наибольший и средний возраст пассажиров на корабле.

**№3.3** Посчитайте среднюю цену билета (Fare) выживших и погибших пассажиров по отдельности.

**№3.4** Выведите имена пяти самых старых пассажиров.

**№3.5** Удалите столбец с номером каюты.

**№3.6** Замените пропуски в столбце с возрастом на средний возраст среди всех пассажиров.

**№3.7** (2 балла)

**а)** Создайте столбец Surname с фамилиями пассажиров, получив нужную информацию из столбца Name.

**б)** Посчитайте, сколько на «Титанике» было семей из трёх и более человек (семьёй считаем группу людей с одинаковой фамилией).